<% provide(:title, 'Tutorials') %>   
<h1>Tutorials</h1>
<p> Here's a new page, after I added it to the routes, as an action in the controlloer,
    and then creating this page under the static_pages folder and labeling it      
    'tutorials.html.erb'
</p>